.Main{
    display:flex;
    background-color:#495e57;
    width: 100%;
    height:420px;
    margin: 0;
    justify-content: center;
}

.contnent{
    margin-left: 7em;
    margin-right:5em;
    width: 50%;
}
.content p{
    font-family:"karla", sans-serif;
    font-size: 22px;
    color: #fff;
    width: 350px;
}

.Main img{
    width: 50%;
    height: 450px;
    border-radius: 15px;
    margin-top: 2em;
    margin-left: 6em;
    box-shadow: 3px 3px 15px rgba(0, 0, 0 , 0.2);
}
.img{
    width: 50%;
}

h1 {
    font-family: "Markazi Text", serif;
    font-size: 60px;
    font-weight: 700;
    color: #f4ce14;
}

h2 {
    font-family: "Markazi Text", serif;
    font-size: 30px;
    color: #f4ce14;
    margin-top: 0;
}
h3 {
    font-family: "Markazi Text", serif;
    font-size: 60px;
    color: #000;
    margin: 1em;
    margin-right: 5em;
}
h4 {
    font-family: "Markazi Text", serif;
    font-size: 60px;
    font-weight: 700;
    color: #000;
}

h5 {
    font-family: "Markazi Text", serif;
    font-size: 30px;
    color: #000;
    margin-top: -2.5em;
}
.Main button{
    background-color: #f4ce14;
    color:#000;
    font-family: "karla", sans-serif;
    font-weight: 800;
    width:13em;
    height: 3.5em;
    margin:1em;
    border-radius: 2em;
    border: none;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
}
.Special{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 6em;
}
.SH{
    display: flex;
    flex-direction: none; /* Align items in a column */
    align-items: center; /* Center items horizontally */
    height: auto;
}

.SH h1 {
    color: #000;
    margin-right: 150px;
    margin-bottom: 1em; /* Add margin between h1 and button */
}

.Special button{
    background-color: #f4ce14;
    color:#000;
    font-family: "karla", sans-serif;
    font-weight: 800;
    font-size: 60p;
    width:13em;
    height: 3.5em;
    margin:0.5em;
    border-radius: 2em;
    border: none;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    margin-left: 150px;
}

.Cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3em;
    margin-bottom: 1em;
    width: 100%;
}

.CardImg{
    width: 95%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-bottom: -0.2em;
    box-shadow: 5px 10px 20px #ccc;
    width: 272px;
    height: 220px;

}

.Card{
    width: 18rem;
    margin-top: -3em;
    margin-left: 1em;
    margin-right: 1em;
}
.CBody{
    font-family: "Karla", sans-serif;
    background-color: #f2efef;
    margin-right: 1em;
    padding: 1em;
    line-height: 1.8em;
    height: 250px;
    box-shadow: 5px 10px 20px #ccc;
}
.CTitle{
    font-family: "Markazi Text", serif;
    font-size: 30px;
    font-weight: 600;
}

.Btn{
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 18px;
    border: none;
}
.CText{
    font-family: "Markazi Text", serif;
    font-size: 16px;
    font-weight: 500;
}
.Testimonials{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #495e57;
    text-align: center;
    padding-top: 1em;
}
.TestimonialsH{
    font-family: "Markazi Text", serif;
    font-size: 55px;
    font-weight: 700;
    width: 100%;
    color:#495e57
}
.revCont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}
.rat{
    width: 50%;
    display: block;
    margin: 10px auto;
}
.Review p {
    font-family: "karla", sans-serif;
}
.Review{
    width: 250px;
    height: 250px;
    background-color: #fff;
    margin: 2em;
    border-radius: 15px;
}
.pro{
    width: 30%;
    border-radius: 50%;
    margin: 1em;
    box-shadow: 3px 3px 15px rgba(0, 0, 0 , 0.2);
}
.Review h2{
    color: #000;
}
.about{
display: flex;
flex-wrap: wrap;
width:100%;
height: auto;
padding: 3em 0;
}
.Acontent{
    width: 40%;
    margin-left: 7em;
    margin-top: 5em;
}
.Acontent p {
    font-family: "Karla", sans-serif;
    font-size: 18px;
    line-height: 1.7em;
    color: #000;
    margin-top: -1em;
}
.owner{
    width: 50%;
}
.chefs{
    width: 50%;
    height: 60%;
    margin-top: 1em;
    margin-left: 10em;
    box-shadow: 3px 3px 15px rgba(0, 0, 0 , 0.2);
    border-radius: 15px;
}
.resturant{
    width: 40%;
    height: 60%;
    margin-top: -10em;
    margin-left: 2em;
    box-shadow: 3px 3px 15pz rgba(0, 0, 0 , 0.2);
    border-radius: 15px;
}